src/MySolution/Workflows/EmplyfiUpdateEmployeeDetails-EED09CAE-CBFF-EF11-BAE3-6045BD09679E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_49d6d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365groups_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gig_sharedoffice365groups_fa43a"
        },
        "api": {
          "name": "shared_office365groups"
        }
      },
      "shared_approvals_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gig_sharedapprovals_615f9"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_sendgrid": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gig_sharedsendgrid_c9ccb"
        },
        "api": {
          "name": "shared_sendgrid"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_49d6d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gig_sharedcommondataserviceforapps_5eca0"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "a4b98a20-a817-4578-9cf0-03dcd07642cc"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "crf46_gig_data_update_requests",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "crf46_gig_update_request_status eq 5"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "895b2fd6-eb6e-40dd-9a9e-63bfdca8b244"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr8b3_gw_employee_detailses",
              "recordId": "@triggerOutputs()?['body/_crf46_gig_employee_code_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a605eec-e2b7-4cfb-a522-8fb091651304"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "email List",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a605eec-e2b7-4cfb-a522-8fb091651304"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "email List 2",
                "type": "array"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "List_group_members": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3b687cb9-3fb7-482a-8b79-6ff630679185"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365groups_1",
                  "operationId": "ListGroupMembers",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
                },
                "parameters": {
                  "groupId": "ac3b317e-29ce-4f82-b54f-e34a5ebaad2d"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_group_members_2": {
              "runAfter": {
                "List_group_members": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2d660776-6af7-4af5-913a-91aefb9c545a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365groups_1",
                  "operationId": "ListGroupMembers",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
                },
                "parameters": {
                  "groupId": "a55cafc3-5e11-439c-a8a5-98035e11cbe1"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_12": {
              "foreach": "@outputs('List_group_members')?['body/value']",
              "actions": {
                "Append_to_array_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "93e90051-d0aa-491b-ba28-13474ff86940"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "email List",
                    "value": "@items('Apply_to_each_12')?['mail']"
                  }
                }
              },
              "runAfter": {
                "List_group_members_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3d2a3635-32c8-421d-a08d-5851cc10f474"
              },
              "type": "Foreach"
            },
            "Apply_to_each_13": {
              "foreach": "@outputs('List_group_members_2')?['body/value']",
              "actions": {
                "Append_to_array_variable_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6d3e4096-a4a9-4ef6-8bd9-d96e0ba8f68c"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "email List 2",
                    "value": "@items('Apply_to_each_13')?['mail']"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_12": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b43f7d94-f005-4f4b-9e5d-6a9dd3e56898"
              },
              "type": "Foreach"
            },
            "Join": {
              "runAfter": {
                "Apply_to_each_13": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dff3577c-dbda-4f09-b0d2-f2734610ddfb"
              },
              "type": "Join",
              "inputs": {
                "from": "@variables('email List')",
                "joinWith": ";"
              }
            },
            "Join_2": {
              "runAfter": {
                "Join": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b2b17c83-4a91-42f9-81f5-5ee05ad2e8d9"
              },
              "type": "Join",
              "inputs": {
                "from": "@variables('email List 2')",
                "joinWith": ";"
              }
            },
            "List_rows_3": {
              "runAfter": {
                "Join_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c3b0343-8fb0-4ac3-9922-670013a705ae"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cr8b3_gw_employee_detailses",
                  "$filter": "cr8b3_gw_official_mail_id eq '@{triggerOutputs()?['body/crf46_gig_requestor_mail']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "RequestorName": {
              "runAfter": {
                "List_rows_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ba8907ab-b86f-462d-b756-74e735abaf9b"
              },
              "type": "Compose",
              "inputs": "@outputs('List_rows_3')?['body/value'][0]['cr8b3_gw_name']"
            },
            "Condition_3": {
              "actions": {
                "Level_two_personal_details_approval_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8b6806e7-a4c3-4c47-8e79-787ada6de184"
                  },
                  "type": "OpenApiConnectionWebhook",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_approvals_1",
                      "operationId": "StartAndWaitForAnApproval",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                    },
                    "parameters": {
                      "approvalType": "Basic",
                      "WebhookApprovalCreationInput/title": "Update Personal Details Request for @{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_name']} - @{outputs('Get_a_row_by_ID')?['body/cr8b3_name']}",
                      "WebhookApprovalCreationInput/assignedTo": "@{body('Join_2')};",
                      "WebhookApprovalCreationInput/details": "The following changes have been made to the Employee Personal Details for @{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_name']} - @{outputs('Get_a_row_by_ID')?['body/cr8b3_name']}:\n@{triggerOutputs()?['body/crf46_gig_update_description']}\nRequestor : @{outputs('RequestorName')}\nRequest Raised Date : @{formatDateTime(triggerOutputs()?['body/crf46_gig_date'], 'dd-MM-yyyy')}",
                      "WebhookApprovalCreationInput/requestor": " emplyfi@gigmos.com;",
                      "WebhookApprovalCreationInput/enableNotifications": true,
                      "WebhookApprovalCreationInput/enableReassignment": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_14": {
                  "foreach": "@outputs('Level_two_personal_details_approval_2')?['body/responses']",
                  "actions": {
                    "Condition_16": {
                      "actions": {
                        "Update_a_row_26": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ec9529a7-11d9-4536-bee5-5bb6e2dad6ce"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateOnlyRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "crf46_gig_data_update_requestses",
                              "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                              "item/crf46_gig_level2_approval": 1,
                              "item/crf46_gig_update_request_status": 9
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Parse_JSON_6": {
                          "runAfter": {
                            "Update_a_row_26": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "766b120a-9cdf-43d8-b4c7-69414df322bd"
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@triggerOutputs()?['body/crf46_gig_dataverse_request_body']",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "aadhar": {
                                  "type": "string"
                                },
                                "attendanceType": {
                                  "type": "integer"
                                },
                                "biometricId": {
                                  "type": "string"
                                },
                                "changeEmail": {
                                  "type": "boolean"
                                },
                                "confStatus": {
                                  "type": "string"
                                },
                                "contact": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "dateOfJoining": {
                                  "type": "string"
                                },
                                "dateofBirth": {
                                  "type": "string"
                                },
                                "deleteUser": {
                                  "type": "boolean"
                                },
                                "department": {
                                  "type": "string"
                                },
                                "designation": {
                                  "type": "string"
                                },
                                "emergencyContactName": {
                                  "type": "string"
                                },
                                "emergencyContactNumber": {
                                  "type": "string"
                                },
                                "emergencyContactRelation": {
                                  "type": "string"
                                },
                                "exitreason": {
                                  "type": "string"
                                },
                                "fathersName": {
                                  "type": "string"
                                },
                                "gender": {
                                  "type": "integer"
                                },
                                "govtID1": {
                                  "type": "string"
                                },
                                "govtID2": {
                                  "type": "string"
                                },
                                "highestDegree": {
                                  "type": "string"
                                },
                                "holidayType": {
                                  "type": "string"
                                },
                                "isAutoagent": {
                                  "type": "boolean"
                                },
                                "lastworkingday": {
                                  "type": "string"
                                },
                                "leaveScheme": {
                                  "type": "string"
                                },
                                "location": {
                                  "type": "string"
                                },
                                "maritalStatus": {
                                  "type": "string"
                                },
                                "mid": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "new_status": {
                                  "type": "string"
                                },
                                "officialMail": {
                                  "type": "string"
                                },
                                "optGhi": {
                                  "type": "boolean"
                                },
                                "pan": {
                                  "type": "string"
                                },
                                "passingYear": {
                                  "type": "string"
                                },
                                "personalEmail": {
                                  "type": "string"
                                },
                                "pfEligible": {
                                  "type": "boolean"
                                },
                                "pfNumber": {
                                  "type": "string"
                                },
                                "priorExp": {
                                  "type": "number"
                                },
                                "probCompletionDate": {
                                  "type": "string"
                                },
                                "probConfDate": {
                                  "type": "string"
                                },
                                "reportingManager": {
                                  "type": "string"
                                },
                                "roleType": {
                                  "type": "string"
                                },
                                "shift": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "boolean"
                                },
                                "teramindExemption": {
                                  "type": "integer"
                                },
                                "uanNumber": {
                                  "type": "string"
                                },
                                "wfoApplicable": {
                                  "type": "integer"
                                },
                                "wfoConcatDays": {
                                  "type": "string"
                                },
                                "workLocation": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "HTTP_5": {
                          "runAfter": {
                            "Parse_JSON_7": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "7b72eea5-36b9-4b6c-9223-8870d5aa7c00"
                          },
                          "type": "Http",
                          "inputs": {
                            "method": "PUT",
                            "uri": "https://trusty.cxchatgpt.ai/api/emp/crud/employee",
                            "body": {
                              "dateOfJoining": "@body('Parse_JSON_7')?['dateOfJoining']",
                              "dateofBirth": "@body('Parse_JSON_7')?['dateofBirth']",
                              "department": "@body('Parse_JSON_7')?['department']",
                              "departmentTransitionId": "@body('Parse_JSON_7')?['departmentTransitionId']",
                              "designation": "@body('Parse_JSON_7')?['designation']",
                              "designationTransitionId": "@body('Parse_JSON_7')?['designationTransitionId']",
                              "employeeId": "@body('Parse_JSON_7')?['employeeId']",
                              "filter": "@body('Parse_JSON_7')?['filter']",
                              "gender": "@body('Parse_JSON_7')?['gender']",
                              "holidayTransitionId": "@body('Parse_JSON_7')?['holidayTransitionId']",
                              "holidayType": "@body('Parse_JSON_7')?['holidayType']",
                              "leaveScheme": "@body('Parse_JSON_7')?['leaveScheme']",
                              "leaveSchemeTransitionId": "@body('Parse_JSON_7')?['leaveSchemeTransitionId']",
                              "location": "@body('Parse_JSON_7')?['location']",
                              "locationTransitionId": "@body('Parse_JSON_7')?['locationTransitionId']",
                              "officialMail": "@body('Parse_JSON_7')?['officialMail']",
                              "personalEmail": "@body('Parse_JSON_7')?['personalEmail']",
                              "pfEligible": "@body('Parse_JSON_7')?['pfEligible']",
                              "pfNumber": "@body('Parse_JSON_7')?['pfNumber']",
                              "reportingManager": "@body('Parse_JSON_7')?['reportingManager']",
                              "uanNumber": "@body('Parse_JSON_7')?['uanNumber']",
                              "aadhar": "@body('Parse_JSON_7')?['aadhar']",
                              "pan": "@body('Parse_JSON_7')?['pan']",
                              "name": "@body('Parse_JSON_7')?['name']"
                            },
                            "retryPolicy": {
                              "type": "none"
                            }
                          }
                        },
                        "Parse_JSON_7": {
                          "runAfter": {
                            "Parse_JSON_6": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "830a22ae-cab7-4a50-a4d5-33495bfba0f7"
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@triggerOutputs()?['body/crf46_gig_request_body']",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "employeeId": {
                                  "type": "string"
                                },
                                "filter": {
                                  "type": "string"
                                },
                                "dateOfJoining": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "aadhar": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "pan": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "dateofBirth": {
                                  "type": "string"
                                },
                                "fathersName": {
                                  "type": "string"
                                },
                                "gender": {
                                  "type": "string"
                                },
                                "location": {
                                  "type": "integer"
                                },
                                "maritalStatus": {
                                  "type": "string"
                                },
                                "personalEmail": {
                                  "type": "string"
                                },
                                "officialMail": {
                                  "type": "string"
                                },
                                "holidayType": {
                                  "type": "integer"
                                },
                                "reportingManager": {
                                  "type": "string"
                                },
                                "designation": {
                                  "type": "integer"
                                },
                                "department": {
                                  "type": "integer"
                                },
                                "pfEligible": {
                                  "type": "boolean"
                                },
                                "pfNumber": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "uanNumber": {
                                  "type": "string"
                                },
                                "leaveScheme": {
                                  "type": "integer"
                                },
                                "designationTransitionId": {
                                  "type": "integer"
                                },
                                "departmentTransitionId": {
                                  "type": "integer"
                                },
                                "locationTransitionId": {
                                  "type": "integer"
                                },
                                "holidayTransitionId": {
                                  "type": "integer"
                                },
                                "leaveSchemeTransitionId": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "employeeId",
                                "filter",
                                "dateOfJoining",
                                "name",
                                "dateofBirth",
                                "fathersName",
                                "gender",
                                "location",
                                "maritalStatus",
                                "personalEmail",
                                "officialMail",
                                "holidayType",
                                "reportingManager",
                                "designation",
                                "department",
                                "pfEligible",
                                "uanNumber",
                                "leaveScheme",
                                "designationTransitionId",
                                "departmentTransitionId",
                                "locationTransitionId",
                                "holidayTransitionId",
                                "leaveSchemeTransitionId"
                              ]
                            }
                          }
                        },
                        "Condition_17": {
                          "actions": {
                            "Update_a_row_27": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "bada7d58-983c-471f-b86f-b6fc144e1691"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateOnlyRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cr8b3_gw_employee_detailses",
                                  "recordId": "@outputs('Get_a_row_by_ID')?['body/cr8b3_gw_employee_detailsid']",
                                  "item/cr8b3_gw_adhaar": "@body('Parse_JSON_6')?['aadhar']",
                                  "item/cr8b3_gw_active_status": "@body('Parse_JSON_6')?['status']",
                                  "item/cr8b3_gw_attendance_type": "@body('Parse_JSON_6')?['attendanceType']",
                                  "item/crf46_gw_biometric_id": "@body('Parse_JSON_6')?['biometricId']",
                                  "item/cr8b3_gw_confirmation_status@odata.bind": "/cr8b3_gwia_status_type_masters(@{body('Parse_JSON_6')?['confStatus']})",
                                  "item/cr8b3_gw_contact_details": "@body('Parse_JSON_6')?['contact']",
                                  "item/cr8b3_gw_country@odata.bind": "/cr8b3_gwia_emp_country_masters(@{body('Parse_JSON_6')?['country']})",
                                  "item/cr8b3_gw_date_of_birth": "@body('Parse_JSON_6')?['dateofBirth']",
                                  "item/cr8b3_gw_date_of_joining": "@body('Parse_JSON_6')?['dateOfJoining']",
                                  "item/cr8b3_gw_department@odata.bind": "/cr8b3_gwia_department_type_masters(@{body('Parse_JSON_6')?['department']})",
                                  "item/cr8b3_gw_designation@odata.bind": "/cr8b3_gwia_designation_masters(@{body('Parse_JSON_6')?['designation']})",
                                  "item/cr8b3_gw_emergency_contact_no": "@body('Parse_JSON_6')?['emergencyContactNumber']",
                                  "item/cr8b3_gw_emergency_contact_relationship": "@body('Parse_JSON_6')?['emergencyContactRelation']",
                                  "item/cr8b3_gw_emergency_name": "@body('Parse_JSON_6')?['emergencyContactName']",
                                  "item/crf46_gw_emp_reporting_manager@odata.bind": "/cr8b3_gw_employee_detailses(@{body('Parse_JSON_6')?['reportingManager']})",
                                  "item/cr8b3_gw_fathers_name": "@body('Parse_JSON_6')?['fathersName']",
                                  "item/cr8b3_gw_gender": "@body('Parse_JSON_6')?['gender']",
                                  "item/cr8b3_gw_governement_id_number": "@body('Parse_JSON_6')?['govtID1']",
                                  "item/cr8b3_gw_governement_id_2": "@body('Parse_JSON_6')?['govtID2']",
                                  "item/crf46_gw_greythr_leave_scheme@odata.bind": "/crf46_gig_greythr_lovs(@{body('Parse_JSON_6')?['leaveScheme']})",
                                  "item/crf46_gw_greythr_marital_status@odata.bind": "/crf46_gig_greythr_lovs(@{body('Parse_JSON_6')?['maritalStatus']})",
                                  "item/cr8b3_gw_highest_qualification": "@body('Parse_JSON_6')?['highestDegree']",
                                  "item/cr8b3_gw_holiday_type_id@odata.bind": "/cr8b3_gwia_employee_holiday_types(@{body('Parse_JSON_6')?['holidayType']})",
                                  "item/cr8b3_gw_is_autoagent": "@body('Parse_JSON_6')?['isAutoagent']",
                                  "item/cr8b3_gw_last_working_day": "@if(not(empty(body('Parse_JSON_6')?['lastworkingday'])), body('Parse_JSON_6')?['lastworkingday'], null)",
                                  "item/cr8b3_gw_location@odata.bind": "/cr8b3_gwia_location_masters(@{body('Parse_JSON_6')?['location']})",
                                  "item/cr8b3_gw_model_id": "@body('Parse_JSON_6')?['mid']",
                                  "item/cr8b3_gw_name": "@body('Parse_JSON_6')?['name']",
                                  "item/cr8b3_gw_official_mail_id": "@body('Parse_JSON_6')?['officialMail']",
                                  "item/cr8b3_gw_opt_in_for_pf": "@body('Parse_JSON_6')?['pfEligible']",
                                  "item/cr8b3_gw_opt_in_ghi": "@body('Parse_JSON_6')?['optGhi']",
                                  "item/cr8b3_gw_pan": "@body('Parse_JSON_6')?['pan']",
                                  "item/cr8b3_gw_passing_year": "@body('Parse_JSON_6')?['passingYear']",
                                  "item/cr8b3_gw_personal_email_id": "@body('Parse_JSON_6')?['personalEmail']",
                                  "item/cr8b3_gw_pf_no": "@body('Parse_JSON_6')?['pfNumber']",
                                  "item/cr8b3_gw_prior_experience": "@body('Parse_JSON_6')?['priorExp']",
                                  "item/cr8b3_gw_probation_completion_date": "@body('Parse_JSON_6')?['probCompletionDate']",
                                  "item/cr8b3_gw_probation_confirmation_date": "@body('Parse_JSON_6')?['probConfDate']",
                                  "item/crf46_gw_reason_of_exit": "@body('Parse_JSON_6')?['exitreason']",
                                  "item/cr8b3_gw_role_type_id@odata.bind": "/cr8b3_gwia_employee_exception_parameters(@{body('Parse_JSON_6')?['roleType']})",
                                  "item/cr8b3_gw_shift_timings@odata.bind": "/cr8b3_gwia_shift_type_masters(@{body('Parse_JSON_6')?['shift']})",
                                  "item/crf46_gw_status_id@odata.bind": "/crf46_gig_employee_status_masters(@{body('Parse_JSON_6')?['new_status']})",
                                  "item/cr8b3_gw_lop": "@body('Parse_JSON_6')?['teramindExemption']",
                                  "item/crf46_gw_uan_number": "@body('Parse_JSON_6')?['uanNumber']",
                                  "item/cr8b3_workfromoffdays": "@body('Parse_JSON_6')?['wfoConcatDays']",
                                  "item/cr8b3_gw_work_from_office": "@body('Parse_JSON_6')?['wfoApplicable']",
                                  "item/cr8b3_gw_worklocation@odata.bind": "/cr8b3_gwia_worklocation_masters(@{body('Parse_JSON_6')?['workLocation']})"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Condition_18": {
                              "actions": {
                                "Compose_5": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "8a22d9d7-1677-4d21-a9b5-6ddcdda1f713"
                                  },
                                  "type": "Compose",
                                  "inputs": "@outputs('Get_a_row_by_ID')?['body/cr8b3_gw_official_mail_id']"
                                },
                                "HTTP_6": {
                                  "runAfter": {
                                    "Compose_5": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "b895ec23-d68c-4a40-9887-1eceea3a9c6b"
                                  },
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "https://trusty.cxchatgpt.ai/api/emp/crud/zendesk_update_user",
                                    "body": {
                                      "old_email": "@outputs('Compose_5')",
                                      "new_email": "@body('Parse_JSON_6')?['officialMail']"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Update_a_row_27": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                  "@body('Parse_JSON_6')?['changeEmail']",
                                  true
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "62d4f4ae-3fc7-4432-b7d6-2887f3d4e506"
                              },
                              "type": "If"
                            },
                            "Condition_19": {
                              "actions": {
                                "Compose_6": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "9dcf4749-4a45-4173-8a96-82e2530b4313"
                                  },
                                  "type": "Compose",
                                  "inputs": "@outputs('Get_a_row_by_ID')?['body/cr8b3_gw_official_mail_id']"
                                },
                                "HTTP_7": {
                                  "runAfter": {
                                    "Compose_6": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "c70e79bf-f5db-40cd-a26b-fdcc7c280171"
                                  },
                                  "type": "Http",
                                  "inputs": {
                                    "method": "POST",
                                    "uri": "https://trusty.cxchatgpt.ai/api/emp/crud/zendesk_delete_user",
                                    "body": {
                                      "email": "@outputs('Compose_6')"
                                    }
                                  }
                                },
                                "Compose_2": {
                                  "runAfter": {
                                    "HTTP_7": [
                                      "Succeeded",
                                      "TimedOut",
                                      "Skipped",
                                      "Failed"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "f7119918-69c9-4b7a-ae6f-112caf370246"
                                  },
                                  "type": "Compose",
                                  "inputs": "<html>\n  <body style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n    <p>Hi team,</p>\n\n    <p>\n      Please note that \n      <strong>@{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_name']}</strong> \n      with \n      <strong>@{outputs('Get_a_row_by_ID')?['body/cr8b3_name']}</strong> \n      employee code has been marked inactive. \n      His/her last working date is \n      <strong>@{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_last_working_day']}</strong>.\n    </p>\n\n    <p>Regards,<br>\n    Gigmo Solutions</p>\n  </body>\n</html>\n"
                                },
                                "Send_email_(V4)": {
                                  "runAfter": {
                                    "Compose_2": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "9b4a9670-9efc-41ad-b0d5-d6c642815733"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_sendgrid",
                                      "operationId": "SendEmailV4",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendgrid"
                                    },
                                    "parameters": {
                                      "request/from": "admin@gigmos.com",
                                      "request/to": "varun@avcindia.co.in;Nikunj@avcindia.co.in;support@avcindia.co.in",
                                      "request/subject": "Gigmo Solutions - @{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_name']} marked as INACTIVE",
                                      "request/text": "<p>@{outputs('Compose_2')}</p>",
                                      "request/cc": "pa_emplyfi_hrops_operator@gigmos.com"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              },
                              "runAfter": {
                                "Condition_18": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                  "@body('Parse_JSON_6')['deleteUser']",
                                  true
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a1b8a614-fc34-40df-903f-c4bd83c46226"
                              },
                              "type": "If"
                            },
                            "Update_a_row_28": {
                              "runAfter": {
                                "Condition_19": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "ec9529a7-11d9-4536-bee5-5bb6e2dad6ce"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateOnlyRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "crf46_gig_data_update_requestses",
                                  "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                  "item/crf46_gig_update_request_status": 6
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Compose_4": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Update_a_row_29": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "edb171c6-25bf-48d3-8520-b1fe956c0da1"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "UpdateOnlyRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "crf46_gig_data_update_requestses",
                                    "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                    "item/crf46_gig_update_request_status": 2
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@outputs('HTTP_5')['statusCode']",
                              200
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "659b0fa7-d415-4a85-bb2b-71ec67dcfa64"
                          },
                          "type": "If"
                        },
                        "Compose_4": {
                          "runAfter": {
                            "HTTP_5": [
                              "Succeeded",
                              "Failed",
                              "TimedOut",
                              "Skipped"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "440478a0-e465-45ca-91e7-1143f38ac31d"
                          },
                          "type": "Compose",
                          "inputs": "@body('Parse_JSON_6')?['new_status']"
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Update_a_row_30": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "5433ac86-9389-4899-b7bf-438ad376ceeb"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "UpdateOnlyRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "crf46_gig_data_update_requestses",
                                "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                "item/crf46_gig_level2_approval": 2,
                                "item/crf46_gig_update_request_status": 10
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@items('Apply_to_each_14')?['approverResponse']",
                          "Approve"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fc90b2c3-3d4b-40e8-a0b8-102b1650c02f"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Level_two_personal_details_approval_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "65efe011-50bc-4004-8804-a071bbeb0801"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "RequestorName": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Condition_2": {
                    "actions": {
                      "Level_two_bank_details_approval_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "8b6806e7-a4c3-4c47-8e79-787ada6de184"
                        },
                        "type": "OpenApiConnectionWebhook",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_approvals_1",
                            "operationId": "StartAndWaitForAnApproval",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                          },
                          "parameters": {
                            "approvalType": "Basic",
                            "WebhookApprovalCreationInput/title": "Update Bank Details Request for @{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_name']} - @{outputs('Get_a_row_by_ID')?['body/cr8b3_name']}",
                            "WebhookApprovalCreationInput/assignedTo": "@{body('Join_2')};",
                            "WebhookApprovalCreationInput/details": "The following changes have been made to the Employee Bank Details for @{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_name']} - @{outputs('Get_a_row_by_ID')?['body/cr8b3_name']}:\n@{triggerOutputs()?['body/crf46_gig_update_description']}\nRequestor : @{outputs('RequestorName')}\nRequest Raised Date : @{formatDateTime(triggerOutputs()?['body/crf46_gig_date'], 'dd-MM-yyyy')}",
                            "WebhookApprovalCreationInput/requestor": "emplyfi@gigmos.com;",
                            "WebhookApprovalCreationInput/enableNotifications": true,
                            "WebhookApprovalCreationInput/enableReassignment": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_7": {
                        "foreach": "@outputs('Level_two_bank_details_approval_2')?['body/responses']",
                        "actions": {
                          "Condition_10": {
                            "actions": {
                              "Update_a_row_15": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "ec9529a7-11d9-4536-bee5-5bb6e2dad6ce"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "UpdateOnlyRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "crf46_gig_data_update_requestses",
                                    "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                    "item/crf46_gig_level2_approval": 1,
                                    "item/crf46_gig_update_request_status": 9
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "List_rows_4": {
                                "runAfter": {
                                  "Update_a_row_15": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "e14f617f-7287-4c03-a8f3-c6f16c3b9ecd"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "ListRecords",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "crf46_gig_employee_bank_detailses",
                                    "$filter": "_crf46_gig_employee_code_value eq @{outputs('Update_a_row_15')?['body/_crf46_gig_employee_code_value']} and crf46_gig_isactive eq true"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Condition_11": {
                                "actions": {
                                  "Add_a_new_row_3": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "b6dd8f52-c2f9-4f02-a6b5-eeed8e4b0b77"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps_1",
                                        "operationId": "CreateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "crf46_gig_employee_bank_detailses",
                                        "item/crf46_gig_bank_details_id": "@null",
                                        "item/crf46_gig_bank_account_number": "@body('Parse_JSON_3')?['bankAccNum']",
                                        "item/crf46_gig_bank_address": "@body('Parse_JSON_3')?['bankAdd']",
                                        "item/crf46_gig_bank_branch": "@body('Parse_JSON_3')?['bankBranch']",
                                        "item/crf46_gig_bank_name": "@body('Parse_JSON_3')?['bankName']",
                                        "item/crf46_gig_date": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
                                        "item/crf46_gig_employee_code@odata.bind": "/cr8b3_gw_employee_detailses(@{outputs('Update_a_row_15')?['body/_crf46_gig_employee_code_value']})",
                                        "item/crf46_gig_greythr_account_type@odata.bind": "@if(not(empty(body('Parse_JSON_3')?['bankaccountType'])), concat('/crf46_gig_greythr_lovs(', body('Parse_JSON_3')?['bankaccountType'], ')'), null)",
                                        "item/crf46_gig_greythr_payment_type@odata.bind": "/crf46_gig_greythr_lovs(@{body('Parse_JSON_3')?['paymentType']})",
                                        "item/crf46_gig_iban": "@body('Parse_JSON_3')?['bankIban']",
                                        "item/crf46_gig_ifsc": "@body('Parse_JSON_3')?['bankIFSC']",
                                        "item/crf46_gig_isactive": true,
                                        "item/crf46_gig_name_as_per_bank_records": "@body('Parse_JSON_3')?['nameasperrecords']",
                                        "item/crf46_gig_routing_number": "@body('Parse_JSON_3')?['bankRoutingNumber']",
                                        "item/crf46_gig_swift": "@body('Parse_JSON_3')?['bankswift']",
                                        "item/crf46_gig_updated_on": "@formatDateTime(utcNow(), 'yyyy-MM-dd')"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Update_a_row_16": {
                                    "runAfter": {
                                      "Add_a_new_row_3": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "f71fc38d-d887-4b6d-9e50-8ba3b22ff67f"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps_1",
                                        "operationId": "UpdateOnlyRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "crf46_gig_data_update_requestses",
                                        "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                        "item/crf46_gig_update_request_status": 6
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Update_a_row_17": {
                                    "runAfter": {
                                      "Add_a_new_row_3": [
                                        "Failed",
                                        "Skipped",
                                        "TimedOut"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "32a84d93-76e4-478c-8ec9-3baa41516adf"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps_1",
                                        "operationId": "UpdateOnlyRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "crf46_gig_data_update_requestses",
                                        "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                        "item/crf46_gig_update_request_status": 4
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Parse_JSON_3": [
                                    "Succeeded"
                                  ]
                                },
                                "else": {
                                  "actions": {
                                    "Apply_to_each_8": {
                                      "foreach": "@outputs('List_rows_4')?['body/value']",
                                      "actions": {
                                        "Update_a_row_18": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "16f772de-ef0e-4116-b124-ca726aa153cd"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "UpdateOnlyRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crf46_gig_employee_bank_detailses",
                                              "recordId": "@items('Apply_to_each_8')?['crf46_gig_employee_bank_detailsid']",
                                              "item/crf46_gig_bank_account_number": "@body('Parse_JSON_3')?['bankAccNum']",
                                              "item/crf46_gig_bank_address": "@body('Parse_JSON_3')?['bankAdd']",
                                              "item/crf46_gig_bank_branch": "@body('Parse_JSON_3')?['bankBranch']",
                                              "item/crf46_gig_bank_name": "@body('Parse_JSON_3')?['bankName']",
                                              "item/crf46_gig_greythr_account_type@odata.bind": "@if(not(empty(body('Parse_JSON_3')?['bankaccountType'])), concat('/crf46_gig_greythr_lovs(', body('Parse_JSON_3')?['bankaccountType'], ')'), null)",
                                              "item/crf46_gig_greythr_payment_type@odata.bind": "/crf46_gig_greythr_lovs(@{body('Parse_JSON_3')?['paymentType']})",
                                              "item/crf46_gig_iban": "@body('Parse_JSON_3')?['bankIban']",
                                              "item/crf46_gig_ifsc": "@body('Parse_JSON_3')?['bankIFSC']",
                                              "item/crf46_gig_name_as_per_bank_records": "@body('Parse_JSON_3')?['nameasperrecords']",
                                              "item/crf46_gig_routing_number": "@body('Parse_JSON_3')?['bankRoutingNumber']",
                                              "item/crf46_gig_swift": "@body('Parse_JSON_3')?['bankswift']",
                                              "item/crf46_gig_updated_on": "@formatDateTime(utcNow(), 'yyyy-MM-dd')"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Update_a_row_23": {
                                          "runAfter": {
                                            "Update_a_row_18": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "32a84d93-76e4-478c-8ec9-3baa41516adf"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "UpdateOnlyRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crf46_gig_data_update_requestses",
                                              "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                              "item/crf46_gig_update_request_status": 6
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Update_a_row_24": {
                                          "runAfter": {
                                            "Update_a_row_18": [
                                              "Failed",
                                              "Skipped",
                                              "TimedOut"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "32a84d93-76e4-478c-8ec9-3baa41516adf"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "UpdateOnlyRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crf46_gig_data_update_requestses",
                                              "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                              "item/crf46_gig_update_request_status": 4
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        }
                                      },
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "06f43be1-d612-402e-869a-d6ff52b8b461"
                                      },
                                      "type": "Foreach"
                                    }
                                  }
                                },
                                "expression": {
                                  "equals": [
                                    "@empty(outputs('List_rows_4')?['body/value'])",
                                    true
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "55b55a07-09a5-48a1-bf53-9425ed98baec"
                                },
                                "type": "If"
                              },
                              "Condition_12": {
                                "actions": {
                                  "Parse_JSON_4": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "aac95d20-550b-49a5-9add-7320c91f8e88"
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@triggerOutputs()?['body/crf46_gig_request_body']",
                                      "schema": {
                                        "type": "object",
                                        "properties": {
                                          "accountType": {
                                            "type": "string"
                                          },
                                          "bankAccountNumber": {
                                            "type": "string"
                                          },
                                          "branchCode": {
                                            "type": "string"
                                          },
                                          "employeeId": {
                                            "type": "string"
                                          },
                                          "filter": {
                                            "type": "string"
                                          },
                                          "nameAsPerBank": {
                                            "type": "string"
                                          },
                                          "salaryPaymentMode": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "HTTP": {
                                    "runAfter": {
                                      "Parse_JSON_4": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "1d9a4526-e2a3-4ff9-b570-24a9f5bec209"
                                    },
                                    "type": "Http",
                                    "inputs": {
                                      "method": "POST",
                                      "uri": "https://trusty.cxchatgpt.ai/api/emp/crud/update_bankdetails",
                                      "body": {
                                        "accountType": "@body('Parse_JSON_4')?['accountType']",
                                        "bankAccountNumber": "@body('Parse_JSON_4')?['bankAccountNumber']",
                                        "branchCode": "@body('Parse_JSON_4')?['branchCode']",
                                        "employeeId": "@body('Parse_JSON_4')?['employeeId']",
                                        "filter": "@body('Parse_JSON_4')?['filter']",
                                        "nameAsPerBank": "@body('Parse_JSON_4')?['nameAsPerBank']",
                                        "salaryPaymentMode": "@body('Parse_JSON_4')?['salaryPaymentMode']"
                                      },
                                      "retryPolicy": {
                                        "type": "none"
                                      }
                                    }
                                  }
                                },
                                "runAfter": {
                                  "List_rows_4": [
                                    "Succeeded"
                                  ]
                                },
                                "expression": {
                                  "equals": [
                                    "@outputs('Get_a_row_by_ID')?['body/_cr8b3_gw_country_value']",
                                    "4440fd7d-c53c-ee11-bdf4-000d3a5a7024"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "c6e44f63-1913-4082-a052-a5e04387549e"
                                },
                                "type": "If"
                              },
                              "Parse_JSON_3": {
                                "runAfter": {
                                  "Condition_12": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "e3fce2b9-e551-4941-8343-4f418847ee2c"
                                },
                                "type": "ParseJson",
                                "inputs": {
                                  "content": "@triggerOutputs()?['body/crf46_gig_dataverse_request_body']",
                                  "schema": {
                                    "type": "object",
                                    "properties": {
                                      "bankAccNum": {
                                        "type": "string"
                                      },
                                      "bankAdd": {
                                        "type": "string"
                                      },
                                      "bankBranch": {
                                        "type": "string"
                                      },
                                      "bankIFSC": {
                                        "type": "string"
                                      },
                                      "bankIban": {
                                        "type": "string"
                                      },
                                      "bankName": {
                                        "type": "string"
                                      },
                                      "bankRoutingNumber": {
                                        "type": "string"
                                      },
                                      "bankaccountType": {
                                        "type": "string"
                                      },
                                      "bankswift": {
                                        "type": "string"
                                      },
                                      "nameasperrecords": {
                                        "type": "string"
                                      },
                                      "paymentType": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Update_a_row_25": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "5433ac86-9389-4899-b7bf-438ad376ceeb"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateOnlyRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "crf46_gig_data_update_requestses",
                                      "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                      "item/crf46_gig_level2_approval": 2,
                                      "item/crf46_gig_update_request_status": 10
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              }
                            },
                            "expression": {
                              "equals": [
                                "@items('Apply_to_each_7')?['approverResponse']",
                                "Approve"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "92e0aa4a-c482-41c3-9976-0eeb8b91aff6"
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {
                          "Level_two_bank_details_approval_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "09c4ff7f-46da-47f5-a334-5ee07d97ae6c"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Condition_6": {
                          "actions": {
                            "Level_one_address_details_approval": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "8b6806e7-a4c3-4c47-8e79-787ada6de184"
                              },
                              "type": "OpenApiConnectionWebhook",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_approvals_1",
                                  "operationId": "StartAndWaitForAnApproval",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                                },
                                "parameters": {
                                  "approvalType": "Basic",
                                  "WebhookApprovalCreationInput/title": "Update Address Details Request for @{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_name']} - @{outputs('Get_a_row_by_ID')?['body/cr8b3_name']}",
                                  "WebhookApprovalCreationInput/assignedTo": "@{body('Join_2')};",
                                  "WebhookApprovalCreationInput/details": "The following changes have been made to the Employee Address Details for @{outputs('Get_a_row_by_ID')?['body/cr8b3_gw_name']} - @{outputs('Get_a_row_by_ID')?['body/cr8b3_name']}:\n@{triggerOutputs()?['body/crf46_gig_update_description']}\nRequestor : @{outputs('RequestorName')}\nRequest Raised Date : @{formatDateTime(triggerOutputs()?['body/crf46_gig_date'],'dd-MM-yyyy')}",
                                  "WebhookApprovalCreationInput/requestor": "emplyfi@gigmos.com;",
                                  "WebhookApprovalCreationInput/enableNotifications": true,
                                  "WebhookApprovalCreationInput/enableReassignment": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Apply_to_each": {
                              "foreach": "@outputs('Level_one_address_details_approval')?['body/responses']",
                              "actions": {
                                "Condition": {
                                  "actions": {
                                    "Parse_JSON": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "7298132b-9f34-483a-86c3-1f759ffdd792"
                                      },
                                      "type": "ParseJson",
                                      "inputs": {
                                        "content": "@triggerOutputs()?['body/crf46_gig_dataverse_request_body']",
                                        "schema": {
                                          "type": "object",
                                          "properties": {
                                            "gig_address_line1": {
                                              "type": "string"
                                            },
                                            "gig_address_line2": {
                                              "type": "string"
                                            },
                                            "gig_city": {
                                              "type": "string"
                                            },
                                            "gig_country": {
                                              "type": "string"
                                            },
                                            "gig_employee_code": {
                                              "type": "string"
                                            },
                                            "gig_greythr_address_type": {
                                              "type": "integer"
                                            },
                                            "gig_pin": {
                                              "type": "string"
                                            },
                                            "gig_residency": {
                                              "type": "integer"
                                            },
                                            "gig_state": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "List_rows": {
                                      "runAfter": {
                                        "Update_a_row": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "55fc114f-7671-44fa-800e-801c116c6ea2"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "ListRecords",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crf46_gig_employee_address_detailses",
                                          "$filter": "_crf46_gig_employee_code_value eq @{triggerOutputs()?['body/_crf46_gig_employee_code_value']} and crf46_gig_isactive eq true and crf46_gig_greythr_address_type eq @{body('Parse_JSON')?['gig_greythr_address_type']}"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Update_a_row": {
                                      "runAfter": {
                                        "Parse_JSON": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "ec9529a7-11d9-4536-bee5-5bb6e2dad6ce"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "UpdateOnlyRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crf46_gig_data_update_requestses",
                                          "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                          "item/crf46_gig_level2_approval": 1,
                                          "item/crf46_gig_update_request_status": 9
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Condition_4": {
                                      "actions": {
                                        "Add_a_new_row": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "89971c22-7e20-491f-80f5-70668eda0ec0"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "CreateRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crf46_gig_employee_address_detailses",
                                              "item/crf46_gig_address_id": "@null",
                                              "item/crf46_gig_address_line1": "@body('Parse_JSON')?['gig_address_line1']",
                                              "item/crf46_gig_address_line2": "@body('Parse_JSON')?['gig_address_line2']",
                                              "item/crf46_gig_city": "@body('Parse_JSON')?['gig_city']",
                                              "item/crf46_gig_country": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), null, body('Parse_JSON')?['gig_country'])",
                                              "item/crf46_gig_date": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
                                              "item/crf46_gig_employee_code@odata.bind": "/cr8b3_gw_employee_detailses(@{triggerOutputs()?['body/_crf46_gig_employee_code_value']})",
                                              "item/crf46_gig_greythr_address_type": "@if(equals(body('Parse_JSON')?['gig_greythr_address_type'], 1), 1, 2)",
                                              "item/crf46_gig_greythr_country@odata.bind": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), concat('/crf46_gig_greythr_lovs(', body('Parse_JSON')?['gig_country'], ')'), null)",
                                              "item/crf46_gig_greythr_state@odata.bind": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), concat('/crf46_gig_greythr_lovs(', body('Parse_JSON')?['gig_state'], ')'), null)",
                                              "item/crf46_gig_isactive": true,
                                              "item/crf46_gig_pin": "@body('Parse_JSON')?['gig_pin']",
                                              "item/crf46_gig_residency": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), 1, 2)",
                                              "item/crf46_gig_state": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), null, body('Parse_JSON')?['gig_state'])",
                                              "item/crf46_gig_updated_on": "@formatDateTime(utcNow(), 'yyyy-MM-dd')"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Update_a_row_2": {
                                          "runAfter": {
                                            "Add_a_new_row": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "32a84d93-76e4-478c-8ec9-3baa41516adf"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "UpdateOnlyRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crf46_gig_data_update_requestses",
                                              "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                              "item/crf46_gig_update_request_status": 6
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Update_a_row_3": {
                                          "runAfter": {
                                            "Add_a_new_row": [
                                              "Failed",
                                              "Skipped",
                                              "TimedOut"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "32a84d93-76e4-478c-8ec9-3baa41516adf"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "UpdateOnlyRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crf46_gig_data_update_requestses",
                                              "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                              "item/crf46_gig_update_request_status": 4
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "List_rows": [
                                          "Succeeded"
                                        ]
                                      },
                                      "else": {
                                        "actions": {
                                          "Apply_to_each_2": {
                                            "foreach": "@outputs('List_rows')?['body/value']",
                                            "actions": {
                                              "Update_a_row_4": {
                                                "runAfter": {},
                                                "metadata": {
                                                  "operationMetadataId": "6e88c7a2-12b5-41a4-8734-71a376115137"
                                                },
                                                "type": "OpenApiConnection",
                                                "inputs": {
                                                  "host": {
                                                    "connectionName": "shared_commondataserviceforapps_1",
                                                    "operationId": "UpdateOnlyRecord",
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                  },
                                                  "parameters": {
                                                    "entityName": "crf46_gig_employee_address_detailses",
                                                    "recordId": "@items('Apply_to_each_2')?['crf46_gig_employee_address_detailsid']",
                                                    "item/crf46_gig_address_line1": "@body('Parse_JSON')?['gig_address_line1']",
                                                    "item/crf46_gig_address_line2": "@body('Parse_JSON')?['gig_address_line2']",
                                                    "item/crf46_gig_city": "@body('Parse_JSON')?['gig_city']",
                                                    "item/crf46_gig_country": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), null, body('Parse_JSON')?['gig_country'])",
                                                    "item/crf46_gig_greythr_address_type": "@if(equals(body('Parse_JSON')?['gig_greythr_address_type'], 1), 1, 2)",
                                                    "item/crf46_gig_greythr_country@odata.bind": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), concat('/crf46_gig_greythr_lovs(', body('Parse_JSON')?['gig_country'], ')'), null)",
                                                    "item/crf46_gig_greythr_state@odata.bind": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), concat('/crf46_gig_greythr_lovs(', body('Parse_JSON')?['gig_state'], ')'), null)",
                                                    "item/crf46_gig_pin": "@body('Parse_JSON')?['gig_pin']",
                                                    "item/crf46_gig_residency": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), 1, 2)",
                                                    "item/crf46_gig_state": "@if(equals(body('Parse_JSON')?['gig_residency'], 1), null, body('Parse_JSON')?['gig_state'])",
                                                    "item/crf46_gig_updated_on": "@formatDateTime(utcNow(), 'yyyy-MM-dd')"
                                                  },
                                                  "authentication": "@parameters('$authentication')"
                                                }
                                              },
                                              "Update_a_row_5": {
                                                "runAfter": {
                                                  "Update_a_row_4": [
                                                    "Succeeded"
                                                  ]
                                                },
                                                "metadata": {
                                                  "operationMetadataId": "32a84d93-76e4-478c-8ec9-3baa41516adf"
                                                },
                                                "type": "OpenApiConnection",
                                                "inputs": {
                                                  "host": {
                                                    "connectionName": "shared_commondataserviceforapps_1",
                                                    "operationId": "UpdateOnlyRecord",
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                  },
                                                  "parameters": {
                                                    "entityName": "crf46_gig_data_update_requestses",
                                                    "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                                    "item/crf46_gig_update_request_status": 6
                                                  },
                                                  "authentication": "@parameters('$authentication')"
                                                }
                                              },
                                              "Update_a_row_6": {
                                                "runAfter": {
                                                  "Update_a_row_4": [
                                                    "Failed",
                                                    "Skipped",
                                                    "TimedOut"
                                                  ]
                                                },
                                                "metadata": {
                                                  "operationMetadataId": "32a84d93-76e4-478c-8ec9-3baa41516adf"
                                                },
                                                "type": "OpenApiConnection",
                                                "inputs": {
                                                  "host": {
                                                    "connectionName": "shared_commondataserviceforapps_1",
                                                    "operationId": "UpdateOnlyRecord",
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                  },
                                                  "parameters": {
                                                    "entityName": "crf46_gig_data_update_requestses",
                                                    "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                                    "item/crf46_gig_update_request_status": 4
                                                  },
                                                  "authentication": "@parameters('$authentication')"
                                                }
                                              }
                                            },
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "222857ec-36ca-4df1-9712-d297fde1b244"
                                            },
                                            "type": "Foreach"
                                          }
                                        }
                                      },
                                      "expression": {
                                        "equals": [
                                          "@empty(outputs('List_rows')?['body/value'])",
                                          true
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "dbed8afa-1749-479a-86ec-d755cb3332c2"
                                      },
                                      "type": "If"
                                    }
                                  },
                                  "runAfter": {},
                                  "else": {
                                    "actions": {
                                      "Update_a_row_7": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "50ec5ff5-134b-410b-957d-aabc6b5e2c98"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "UpdateOnlyRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crf46_gig_data_update_requestses",
                                            "recordId": "@triggerOutputs()?['body/crf46_gig_data_update_requestsid']",
                                            "item/crf46_gig_level2_approval": 2,
                                            "item/crf46_gig_update_request_status": 10
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      }
                                    }
                                  },
                                  "expression": {
                                    "equals": [
                                      "@items('Apply_to_each')?['approverResponse']",
                                      "Approve"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "33453db2-f40e-4ab8-8251-04bedffd4da5"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "Level_one_address_details_approval": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "0314b1ca-2fdc-4e9d-b4b4-458c56fdbb32"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {},
                          "expression": {
                            "equals": [
                              "@triggerOutputs()?['body/crf46_gig_update_request_type']",
                              4
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "44ef7d2a-25ab-4167-ae08-711d42c275e8"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@triggerOutputs()?['body/crf46_gig_update_request_type']",
                        3
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "756d87d4-f329-4f5a-9876-6e6bc9a92fcb"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/crf46_gig_update_request_type']",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "756d87d4-f329-4f5a-9876-6e6bc9a92fcb"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4ae6413-03a5-4d4e-ab38-1a0e7e9b33fc"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "13a8acd1-0a78-4fe7-8760-4bcc3de97172"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@or(equals(item()?['Status'], 'Failed'),equals(item()?['Status'], 'TimedOut'))"
              }
            },
            "Compose": {
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c0b47148-47e5-4568-900b-f288dc5aec08"
              },
              "type": "Compose",
              "inputs": "@coalesce(\r\n    first(body('Filter_array'))?['error']?['message'],\r\n    first(body('Filter_array'))?['message'],\r\n    first(body('Filter_array'))?['outputs']?['body']?['error']?['message'],\r\n    first(body('Filter_array'))?['outputs']?['body']?['error'],\r\n    first(body('Filter_array'))?['outputs']?['body']?['message'],\r\n    'No error/message found'\r\n)\r\n"
            },
            "Add_a_new_row_2": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "db043249-f96b-41d4-ac79-3189085f6f2e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "crf46_log_historyflows",
                  "item/crf46_newcolumn": "Emplyfi Update Employee Details",
                  "item/crf46_flowstatus": "Failed",
                  "item/crf46_gw_date": "@convertTimeZone(utcNow(), 'UTC', 'India Standard Time')\r\n",
                  "item/crf46_message": "@outputs('Compose')",
                  "item/crf46_rundatetime": "@convertTimeZone(utcNow(), 'UTC', 'India Standard Time')\r\n"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Terminate": {
              "runAfter": {
                "Add_a_new_row_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1244a7cb-e6e4-4471-aa44-3bdc320b1781"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "83fbcd62-387a-49ae-ab66-d56ba1ee738a"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}