src/MySolution/Workflows/GWOnboardingRenameSharepointFolder-E05CEB5D-8776-F011-B4CC-000D3A59FA13.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "gig_sharedsharepointonline_3ce1a"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gig_sharedcommondataserviceforapps_472ea"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "67da81ff-66c4-436a-80c5-cd112e322ce4"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "oldName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "newName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "email",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "old_url": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "833b950f-e94c-4a52-8af6-b2b482e1d83c"
              },
              "type": "Compose",
              "inputs": "Shared Documents/Onboarding Doc/@{triggerBody()['text']} - @{triggerBody()['text_2']}"
            },
            "new_url": {
              "runAfter": {
                "old_url": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "42b9ab7d-bbb6-4aa8-84b0-df77d3299453"
              },
              "type": "Compose",
              "inputs": "/Onboarding Doc/@{triggerBody()['text_1']} - @{triggerBody()['text_2']}"
            },
            "Get_files_(properties_only)": {
              "runAfter": {
                "new_url": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ffcd9a5f-1973-4988-9ca9-5f37e464fc8b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://gigmo.sharepoint.com/sites/Attachments",
                  "table": "23f11e07-78a3-4c6c-9dbb-b54ac33c7467",
                  "folderPath": "@outputs('old_url')",
                  "viewScopeOption": "Default"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_new_folder": {
              "runAfter": {
                "Get_files_(properties_only)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3e264815-1aea-4af6-b6b3-16cd10c134b1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateNewFolder",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://gigmo.sharepoint.com/sites/Attachments",
                  "table": "23f11e07-78a3-4c6c-9dbb-b54ac33c7467",
                  "parameters/path": "@outputs('new_url')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
              "actions": {
                "Get_file_content": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fa341755-976e-4bd9-958f-66d3a94a0b2d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "GetFileContent",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://gigmo.sharepoint.com/sites/Attachments",
                      "id": "@items('Apply_to_each')?['{Identifier}']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_file": {
                  "runAfter": {
                    "Get_file_content": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a6c824a6-6809-47ac-9241-f64d8693b5e8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "CreateFile",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://gigmo.sharepoint.com/sites/Attachments",
                      "folderPath": "Shared Documents@{outputs('new_url')}",
                      "name": "@items('Apply_to_each')?['{FilenameWithExtension}']",
                      "body": "@body('Get_file_content')"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                }
              },
              "runAfter": {
                "Create_new_folder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "002f37db-cc9c-4eea-807e-d91c8945d352"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4f54a5a5-d66f-4c32-a0b0-bfba31eeff00"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b1a45682-dc11-464b-9393-f0431bc04e46"
              },
              "type": "Compose",
              "inputs": "@result('Try')"
            },
            "Compose_2": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "313056b6-ac19-4c76-9dc5-ee5807b05f75"
              },
              "type": "Compose",
              "inputs": "@coalesce(\r\n  result('Try')?[0]?['error']?['message'],\r\n  result('Try')?[1]?['error']?['message'],\r\n  result('Try')?[2]?['error']?['message'],\r\n  result('Try')?[3]?['error']?['message'],\r\n  'Unknown error'\r\n)\r\n"
            },
            "Add_a_new_row": {
              "runAfter": {
                "Compose_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dd551b8a-a3a0-441a-9913-2e10aa92dd48"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "crf46_log_historyflows",
                  "item/crf46_newcolumn": "GW Onboarding Rename Sharepoint Folder",
                  "item/crf46_flowstatus": "Fail",
                  "item/crf46_gw_date": "@convertTimeZone(utcNow(), 'UTC', 'India Standard Time')\r\n",
                  "item/crf46_message": "@outputs('Compose_2')",
                  "item/crf46_rundatetime": "@convertTimeZone(utcNow(), 'UTC', 'India Standard Time')\r\n"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Terminate": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "58c0c3d1-1fa6-4cbb-a5ca-ae541edec809"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "12a01c0c-0c2f-42a3-91e7-41250937d475"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": "78720f54e49444d0bd456477288a7ef7"
  },
  "schemaVersion": "1.0.0.0"
}